{% extends "webapp/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

<h5>Login</h5>
<form action="{% url 'login' %}" method="POST">
    <div class="row">
        <div class="large-4 medium-4 columns">
            <label>Username</label>
            <input type="text" placeholder="large-4.columns" name="username">
        </div>
        <div class="large-4 medium-4 columns">
        </div>
        <div class="large-4 medium-4 columns">
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-4 columns">
            <label>Password</label>
            <input type="password" placeholder="large-4.columns" name="password">
        </div>
        <div class="large-4 medium-4 columns">
        </div>
        <div class="large-4 medium-4 columns">
        </div>
    </div>
    {% if login_feedback %}
        <div class="row">
            <div class="large-4 medium-4 columns">
                <div class="alert-box alert">
                    {{ login_feedback }}
                </div>
            </div>
            <div class="large-4 medium-4 columns">
            </div>
            <div class="large-4 medium-4 columns">
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="large-4 medium-4 columns">
            <button class="small round button success" href="#" style="float:right;">Login</button>
        </div>
        <div class="large-4 medium-4 columns">
        </div>
        <div class="large-4 medium-4 columns">
        </div>
    </div>
    <input type="hidden" name="next_url" value="{{ next_url }}" />
    {% csrf_token %}
</form>

{% endblock %}
